<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        nav {
            padding: 50px;
            background-color: darkblue;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 10px;
            background-color: darkcyan;
        }

        .main {
            margin: 50px;
        }
    </style>
    <nav>
        <h1>Logo</h1>
        <div>
            <a href="./">Home</a>
            <a href="./about.ejs">About</a>
        </div>
        </div>
    </nav>
    <div class="main">
       <h1> Sobre o site</h1>
    </div>
    
</body>
</html>