* {
    margin: 0;
    padding: 0;
}

body {
    margin: 100px;
    background: rgb(85, 83, 83);
}
.container {
    margin: auto;
    max-width: 600px;
}

h1 {
    color: #f7f2f8;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    color: #1f0011;
    outline: none;
    border: none;
    border-bottom: 1px solid #e698ce;
    font-size: 24px;
    background: transparent;
}

button {
    background: transparent;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-left: 10px;
    height: 50px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    transition: all .3s ease;

}
.done {
    text-decoration: line-through;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {   
    
    width: 100%;
    font-size: 30px;
    padding: 15px;
    margin-top: 15px;
    
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e698ce;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.header {
    display: flex;
    justify-content: space-between;
}

.addBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: white;
    background-color: #e698ce;
    border-radius: 25px;
}
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.021);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardModal {
    padding: 20px;
    background-color: white;
}

.hide {
    display: none;
}