@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Josefin+Sans&family=Palette+Mosaic&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fcf7d0;
}

.header {
  position: sticky;
  top: 0px;
  background-color: #ffc400;
  font-family:'Palette Mosaic', cursive;
  padding: 15px;
}
.main {
  font-family:'Satisfy', cursive;
  font-size: 1.3rem;
  word-spacing: normal;
  max-width: 50%;
  margin: 20px;
  text-align: justify;

}
.code {
  margin: 10px;
  max-width: 100%;
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  }
  li {
    list-style-type:square;
    list-style-position: inside;
  }