* {
    margin: 0;
    padding: 0;
}

.bar-top {
    background-color: #ff6828;
    padding: 15px;
    text-align: center;
}

#header {
    background-image: url(/Projects/Pagina-de-Receitas/imgs/hero_bolo.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: top;
    height: 420px;
}